<!DOCTYPE HTML>
<html>
	<head>
		<title>FutureLab</title>
		<meta charset="utf-8" />
        <meta name="description" content="Future Lab: Vamos imaginar o futuro e as tecnologias do futuro">
        <meta name="keywords" content="futuro, tecnologias, erotismo">
        <meta name="author" content="Lina Lopes e Anderson Penha">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        
        <meta property="og:locale" content="pt_BR">
        <meta property="og:url" content="">
        <meta property="og:title" content="Future Lab: Vamos imaginar o futuro e as tecnologias do futuro">
        <meta property="og:site_name" content="Future Lab">
        <meta property="og:description" content="Future Lab: Vamos imaginar o futuro e as tecnologias do futuro">
        <meta property="og:image" content="http://futurelab.vision/images/backgroung.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1036">
        <meta property="og:image:height" content="577">
        <meta property="og:type" content="website">

        <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">FutureLab Erotismo</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#one">Sobre</a>
							</li>
							<li><a href="#">Erotismo</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>O futuro é inventado</h2>
							<p>Como será a vida daqui a 20, 50, 100 anos?<br />
							 Que produtos e serviços estão por vir?</p>
						</header>
						<span class="image"><img src="images/Denis Moskowitz-3.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Próximo</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>FutureLab é uma oportunidade de criar</h2>
										<p>o futuro por meio do faça você mesmo. Ou melhor, do façamos juntos.</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>É um grupo de estudos de 12 pessoas de diversas áreas e diversos interesses que se unem para imaginar como serão os rituais de erotismo, relacionamento com o corpo e relacionamento com o corpo do outro daqui a 20, 50, 100 anos. Para isso é importante um mergulho profundo no conceito estabelecendo um recorte de que tipo de erotismo se quer falar. </p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Importante também pesquisar como eram os rituais com os sentidos do corpo a 50, 100, 200 anos atrás...Mas com um tema como esse, imaginar o futuro também requer mão na massa. Vamos usar as ferramentas de hoje (metodologias de desing, eletrônica digital, fabricação digital, etc) para criar os serviços e produtos do erotismo do amanhã. </p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Próximo</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style1 right">
					<span class="image fit main"><img src="images/esquema.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Acreditamos que o futuro</h2>
							<p>surge de 4 momentos que caminham juntos: design fiction, experimental lab, future thinking e social shaping.</p>
						</header>
						<p>Imaginar e tangibilizar o futuro hoje tendo como o tema o erotismo nos levará a criar ficções, elaborar conceitos, perguntar a sociedade o quanto as idéias reverberam, experienciar materiais e experimentar o tempo todo todo o tempo.</p>
						<ul class="actions">
							<li><a href="#" class="button">Saiba mais</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Próximo</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style1 left">
					<span class="image fit main bottom"><img src="images/trupe.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Trupe + Sistema de Financiamento</h2>
							<p>Procuram-se 12 pessoas para o time.   </p>
						</header>
						<p>E para fazer isso acontecer, bolamos uma proposta de financiamento que pode interessar a todos.</p>
						<ul class="actions">
							<li><a href="#" class="button">Saiba mais</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Próximo</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Fluxo FutureLab</h2>
							<p>Como funciona o tempo de trabalho</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="3u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Future Thinking</h3>
									<p>Trends & Technologies</p>
                                    <p>Road Mapping</p>
                                    <p>Drivers of Change</p>
                                    <h4>32h</h4>
								</section>
								<section class="3u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Pre-Production</h3>
									<p>Scenarization</p>
                                    <p>Story Planning</p>
                                    <p>Concept Creation</p>
                                    <h4>48h</h4>
								</section>
								<section class="3u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Production</h3>
									<p>Ideas Crafting</p>
                                    <p>Prototyping</p>
                                    <p>Story Telling</p>
                                    <p>Courses on Demand</p>
                                    <h4>80h</h4>
								</section>
								<section class="3u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Pos-Production</h3>
									<p>Business Design</p>
                                    <p>Social Impact Analysis</p>
                                    <h4>32h</h4>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li><a href="#" class="button">Saiba mais</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Mantenha-se informado sobre o futuro</h2>
							<p>Quer saber quando o Future Lab com o tema de erotismo será lançado?</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Seu endereço de email" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Embarcar" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
<!--
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
-->
						<li class="icon alt fa-envelope"><span class="label">Email</span></li>
                        <p>futurelab@lilo.zone</p>
					</ul>
					<ul class="copyright">
						<li>2017</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>